<a href="https://colab.research.google.com/github/jamissonfreitas/IN1119/blob/master/analise_mes_ano_testes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
library('ggplot2')
library('dplyr')
set.seed(1234)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

# Dados

In [2]:
# Open file
df_obitos <- read.csv('df_obitos.csv', row.names = 1, sep = ';')
df_obitos

     Janeiro Fevereiro Março Abril Maio Junho Julho Agosto Setembro Outubro
2000  610    554        585  548    522 520   525    555    532      651
2001  684    620        691  659    611 641   620    658    657      618
2002  650    639        676  620    622 563   603    652    634      701
2003  683    613        699  668    623 610   594    648    689      689
2004  714    646        698  691    658 629   575    665    672      669
2005  751    661        705  680    715 637   685    783    701      810
2006  791    685        803  684    680 627   748    712    688      750
2007  786    674        791  722    761 713   689    773    727      766
2008  817    823        824  767    715 714   757    760    787      787
2009  825    738        812  775    788 714   743    748    752      780
2010  845    726        801  754    809 702   745    789    768      856
2011  817    757        845  842    827 755   805    835    819      819
2012  877    912        839  851    801 767   840    821    888      892
2013  918    876        934  853    891 826   797    855    902      906
2014  928    879        956  897    825 802   753    937    917      900
2015 1047    852        947  935    899 867   851    915    902      990
2016  941    926        929  919    927 879   925    910    962     1047
2017 1059    967       1055  923   1029 932   938   1071   1135     1212
     Novembro Dezembro
2000  555      621
2001  610      669
2002  660      706
2003  673      672
2004  684      716
2005  704      718
2006  703      768
2007  693      773
2008  749      828
2009  839      860
2010  794      859
2011  800      931
2012  878      955
2013  838      937
2014  915      944
2015  921     1052
2016 1016     1052
2017 1063     1111

In [3]:
df_obitos_normalizado <- read.csv('df_obitos_normalizado.csv', row.names = 1, sep = ';')
df_obitos_normalizado

     Janeiro   Fevereiro Março     Abril     Maio      Junho     Julho
2000 0.3516897 0.3194034 0.3372762 0.3159442 0.3009542 0.2998011 0.3026838
2001 0.3888900 0.3525026 0.3928698 0.3746761 0.3473856 0.3644422 0.3525026
2002 0.3646029 0.3584327 0.3791871 0.3477751 0.3488970 0.3158022 0.3382393
2003 0.3781438 0.3393882 0.3870022 0.3698391 0.3449247 0.3377273 0.3288689
2004 0.3903527 0.3531763 0.3816053 0.3777784 0.3597368 0.3438822 0.3143597
2005 0.4056153 0.3570063 0.3807707 0.3672682 0.3861717 0.3440439 0.3699687
2006 0.4222379 0.3656548 0.4286436 0.3651210 0.3629858 0.3346943 0.3992844
2007 0.4148573 0.3557427 0.4174963 0.3810775 0.4016621 0.3763273 0.3636599
2008 0.4265596 0.4296922 0.4302143 0.4004544 0.3733049 0.3727828 0.3952333
2009 0.4262597 0.3813087 0.4195429 0.4004258 0.4071426 0.3689084 0.3838921
2010 0.4322299 0.3713597 0.4097233 0.3856821 0.4138154 0.3590833 0.3810785
2011 0.4138867 0.3834911 0.4280713 0.4265515 0.4189526 0.3824779 0.4078076
2012 0.4401672 0.4577338 0.4210950 0.4271178 0.4020227 0.3849581 0.4215969
2013 0.4566421 0.4357500 0.4646010 0.4243091 0.4432114 0.4108784 0.3964529
2014 0.4576646 0.4334992 0.4714735 0.4423763 0.4068678 0.3955248 0.3713593
2015 0.5121040 0.4167265 0.4631925 0.4573231 0.4397149 0.4240632 0.4162374
2016 0.4566156 0.4493369 0.4507927 0.4459402 0.4498222 0.4265304 0.4488517
2017 0.5099659 0.4656629 0.5080397 0.4444746 0.4955193 0.4488085 0.4516979
     Agosto    Setembro  Outubro   Novembro  Dezembro
2000 0.3199800 0.3067196 0.3753279 0.3199800 0.3580317
2001 0.3741076 0.3735390 0.3513655 0.3468171 0.3803617
2002 0.3657248 0.3556281 0.3932102 0.3702122 0.3960149
2003 0.3587660 0.3814657 0.3814657 0.3726073 0.3720537
2004 0.3635638 0.3673908 0.3657507 0.3739514 0.3914462
2005 0.4228985 0.3786103 0.4374812 0.3802306 0.3877920
2006 0.3800675 0.3672563 0.4003520 0.3752633 0.4099605
2007 0.4079958 0.3837166 0.4043011 0.3657711 0.4079958
2008 0.3967996 0.4108965 0.4108965 0.3910565 0.4323027
2009 0.3864755 0.3885422 0.4030092 0.4334932 0.4443435
2010 0.4035851 0.3928433 0.4378566 0.4061427 0.4393911
2011 0.4230054 0.4148999 0.4148999 0.4052746 0.4716383
2012 0.4120608 0.4456881 0.4476957 0.4406691 0.4793155
2013 0.4253039 0.4486832 0.4506729 0.4168476 0.4660933
2014 0.4621032 0.4522397 0.4438558 0.4512534 0.4655554
2015 0.4475408 0.4411823 0.4842244 0.4504755 0.5145496
2016 0.4415730 0.4668058 0.5080516 0.4930090 0.5104778
2017 0.5157446 0.5465641 0.5836437 0.5118922 0.5350068

In [4]:
df_populacao <- read.csv('df_populacao.csv', row.names = 1, sep = ';')
df_populacao

     População
2000 173448346
2001 175885229
2002 178276128
2003 180619108
2004 182911487
2005 185150806
2006 187335137
2007 189462755
2008 191532439
2009 193543969
2010 195497797
2011 197397018
2012 199242462
2013 201032714
2014 202768562
2015 204450649
2016 206081432
2017 207660929

In [5]:
df_obitos_soma_por_mes <- read.csv('df_obitos_soma_por_mes.csv', sep = ';')
df_obitos_soma_por_mes

   Janeiro   X14743
1  Fevereiro 13548
2  Março     14590
3  Abril     13788
4  Maio      13703
5  Junho     12898
6  Julho     13193
7  Agosto    14087
8  Setembro  14132
9  Outubro   14843
10 Novembro  14095
11 Dezembro  15172

In [6]:
df_obitos_soma_por_ano <- read.csv('df_obitos_soma_por_ano.csv', sep = ';')
df_obitos_soma_por_ano

   X2000 X6778
1  2001   7738
2  2002   7726
3  2003   7861
4  2004   8017
5  2005   8550
6  2006   8639
7  2007   8868
8  2008   9328
9  2009   9374
10 2010   9448
11 2011   9852
12 2012  10321
13 2013  10533
14 2014  10653
15 2015  11178
16 2016  11433
17 2017  12495

# Teste de normalidade dos dados (Shapiro-Wilk)

In [24]:
shapiro.test(df_obitos$Outubro)

	Shapiro-Wilk normality test

data:  df_obitos$Outubro
W = 0.93806, p-value = 0.2684

## Número absolutos

In [7]:
lshap <- lapply(df_obitos, shapiro.test)
lres <- sapply(lshap, '[', c("statistic","p.value"))
t(lres)

#shapiro.test(df_obitos$Outubro)

          statistic p.value
Janeiro   0.9694345 0.7869881
Fevereiro 0.9405158 0.2957265
Março     0.9659727 0.7194684
Abril     0.9493559 0.4150026
Maio      0.9843657 0.9837375
Junho     0.9740162 0.8688711
Julho     0.9674647 0.7488934
Agosto    0.977213  0.9167986
Setembro  0.9598514 0.5987638
Outubro   0.9380614 0.2683993
Novembro  0.9667963 0.7357517
Dezembro  0.9503571 0.4306458

**Não existem evidências estatísticas  que rejeitem H0 que as amostras de dados dos meses do ano são oriundos de populações com distribuições normais (p = 0.05)**

## Proporção

In [8]:
lshap <- lapply(df_obitos_normalizado, shapiro.test)
lres <- sapply(lshap, '[', c("statistic","p.value"))
t(lres)

          statistic p.value
Janeiro   0.9592751 0.5876949
Fevereiro 0.9162369 0.1108836
Março     0.9777687 0.9241093
Abril     0.9549908 0.5085391
Maio      0.981924  0.967658
Junho     0.985331  0.9882579
Julho     0.9781284 0.9286654
Agosto    0.9761451 0.901852
Setembro  0.9388938 0.2774017
Outubro   0.9063025 0.07406334
Novembro  0.9598918 0.5995421
Dezembro  0.9559421 0.5255794

**Não existem evidências estatísticas  que rejeitem H0 que as amostras de dados dos meses do ano são oriundos de populações com distribuições normais (p = 0.05)**

# Teste Kolmogorov (contra-teste)

## Número absolutos

In [63]:
#ks.test(df_obitos$Janeiro, 'pnorm', mean(df_obitos$Janeiro), sd(df_obitos$Janeiro))
#ks.test(df_obitos$Fevereiro, y='pnorm', m=mean(df_obitos$Fevereiro), s=sd(df_obitos$Fevereiro))

f <- function(data){
  ks.test(data, y='pnorm', m=mean(data), s=sd(data))
}
r <- apply(df_obitos, 2, f)
sapply(r, '[', c("statistic","p.value"))

Warning message in ks.test(data, y = "pnorm", m = mean(data), s = sd(data)):
“ties should not be present for the Kolmogorov-Smirnov test”Warning message in ks.test(data, y = "pnorm", m = mean(data), s = sd(data)):
“ties should not be present for the Kolmogorov-Smirnov test”Warning message in ks.test(data, y = "pnorm", m = mean(data), s = sd(data)):
“ties should not be present for the Kolmogorov-Smirnov test”Warning message in ks.test(data, y = "pnorm", m = mean(data), s = sd(data)):
“ties should not be present for the Kolmogorov-Smirnov test”Warning message in ks.test(data, y = "pnorm", m = mean(data), s = sd(data)):
“ties should not be present for the Kolmogorov-Smirnov test”

          Janeiro   Fevereiro Março     Abril     Maio       Junho
statistic 0.0925301 0.1493574 0.1408127 0.1339188 0.08451503 0.1354687
p.value   0.9978691 0.7633433 0.8201424 0.8619475 0.9995244  0.8958542
          Julho     Agosto    Setembro  Outubro   Novembro  Dezembro
statistic 0.1450853 0.1009253 0.1081325 0.1283881 0.1605263 0.1349854
p.value   0.7923035 0.9839686 0.984448  0.8920363 0.6843575 0.8982442

## Proporção

In [66]:
r <- apply(df_obitos_normalizado, 2, f)
sapply(r, '[', c("statistic","p.value"))

          Janeiro   Fevereiro Março     Abril     Maio      Junho
statistic 0.1157921 0.1712086 0.1304502 0.1437159 0.1153368 0.09124913
p.value   0.9464968 0.6073756 0.8812163 0.8013631 0.9480687 0.99486
          Julho      Agosto    Setembro  Outubro   Novembro  Dezembro
statistic 0.08318355 0.1113417 0.1581295 0.1726865 0.1397796 0.1392419
p.value   0.9985507  0.9606535 0.7015549 0.5967757 0.8266716 0.830036

# Teste de variancias

In [68]:
var.test(df_obitos$Janeiro, df_obitos$Junho)

	F test to compare two variances

data:  df_obitos$Janeiro and df_obitos$Junho
F = 1.2563, num df = 17, denom df = 17, p-value = 0.6434
alternative hypothesis: true ratio of variances is not equal to 1
95 percent confidence interval:
 0.4699361 3.3584151
sample estimates:
ratio of variances
           1.25628

In [73]:
library(plyr)
library(reshape2)

combos <- combn(ncol(df_obitos), 2)

out <- adply(combos, 2, function(x) {
  test <- var.test(df_obitos[, x[1]], df_obitos[, x[2]])

  out <- data.frame("var1" = colnames(df_obitos)[x[1]]
                    , "var2" = colnames(df_obitos)[x[2]]
                    #, "t.value" = sprintf("%.3f", test$statistic)
                    #,  "df"= test$parameter
                    ,  "p.value" = sprintf("%.3f", test$p.value)
                    )
  return(out)

})
var_test_matrix = dcast(out, var1 ~ var2, value.var = "p.value")
var_test_matrix

   var1      Fevereiro Março Abril Maio  Junho Julho Agosto Setembro Outubro
1  Janeiro   0.950     0.843 0.682 0.936 0.643 0.749 0.980  0.606    0.493
2  Fevereiro NA        0.892 0.728 0.887 0.689 0.797 0.970  0.563    0.455
3  Março     NA        NA    0.832 0.781 0.791 0.903 0.862  0.476    0.378
4  Abril     NA        NA    NA    0.625 0.957 0.928 0.700  0.356    0.275
5  Maio      NA        NA    NA    NA    0.588 0.690 0.917  0.663    0.544
6  Junho     NA        NA    NA    NA    NA    0.886 0.661  0.329    0.253
7  Julho     NA        NA    NA    NA    NA    NA    0.768  0.405    0.317
8  Agosto    NA        NA    NA    NA    NA    NA    NA     0.589    0.478
9  Setembro  NA        NA    NA    NA    NA    NA    NA     NA       0.864
10 Outubro   NA        NA    NA    NA    NA    NA    NA     NA       NA
11 Novembro  NA        NA    NA    NA    NA    NA    NA     NA       NA
   Novembro Dezembro
1  0.741    0.559
2  0.695    0.518
3  0.598    0.435
4  0.460    0.322
5  0.802    0.614
6  0.429    0.297
7  0.517    0.367
8  0.723    0.543
9  0.853    0.945
10 0.722    0.919
11 NA       0.799

In [0]:
#reshape(out, direction = "wide", idvar = "var1", timevar = "var2")
write.csv(var_test_matrix,'var_test_matrix.csv')

In [75]:
combos <- combn(ncol(df_obitos_normalizado), 2)

out <- adply(combos, 2, function(x) {
  test <- var.test(df_obitos_normalizado[, x[1]], df_obitos_normalizado[, x[2]])

  out <- data.frame("var1" = colnames(df_obitos_normalizado)[x[1]]
                    , "var2" = colnames(df_obitos_normalizado)[x[2]]
                    #, "t.value" = sprintf("%.3f", test$statistic)
                    #,  "df"= test$parameter
                    ,  "p.value" = sprintf("%.3f", test$p.value)
                    )
  return(out)

})
var_test_normalizado_matrix = dcast(out, var1 ~ var2, value.var = "p.value")
var_test_normalizado_matrix

   var1      Fevereiro Março Abril Maio  Junho Julho Agosto Setembro Outubro
1  Janeiro   0.892     0.812 0.638 0.779 0.690 0.894 0.908  0.404    0.315
2  Fevereiro NA        0.709 0.545 0.885 0.593 0.788 0.984  0.483    0.383
3  Março     NA        NA    0.816 0.605 0.871 0.917 0.724  0.285    0.215
4  Abril     NA        NA    NA    0.454 0.944 0.736 0.559  0.194    0.143
5  Maio      NA        NA    NA    NA    0.497 0.679 0.869  0.578    0.466
6  Junho     NA        NA    NA    NA    NA    0.790 0.607  0.219    0.162
7  Julho     NA        NA    NA    NA    NA    NA    0.804  0.334    0.256
8  Agosto    NA        NA    NA    NA    NA    NA    NA     0.471    0.372
9  Setembro  NA        NA    NA    NA    NA    NA    NA     NA       0.863
10 Outubro   NA        NA    NA    NA    NA    NA    NA     NA       NA
11 Novembro  NA        NA    NA    NA    NA    NA    NA     NA       NA
   Novembro Dezembro
1  0.581    0.450
2  0.676    0.535
3  0.430    0.322
4  0.308    0.223
5  0.785    0.634
6  0.343    0.250
7  0.494    0.375
8  0.662    0.522
9  0.776    0.935
10 0.647    0.800
11 NA       0.839

In [0]:
write.csv(var_test_normalizado_matrix,'var_test_normalizado_matrix.csv')

# Diferença das médias

## Números absolutos

In [76]:
d <- melt(df_obitos)

# p.adjust "holm", "hochberg", "hommel", "bonferroni", "BH", "BY", "fdr", "none"
df_obitos_mean_test = pairwise.t.test(d$value, d$variable, p.adjust = "none", paired=T) 
df_obitos_mean_test

No id variables; using all as measure variables

	Pairwise comparisons using paired t tests

data:  d$value and d$variable

          Janeiro Fevereiro Março   Abril   Maio    Junho   Julho   Agosto
Fevereiro 5.2e-05 -         -       -       -       -       -       -
Março     0.28866 6.3e-05   -       -       -       -       -       -
Abril     3.1e-05 0.21235   0.00013 -       -       -       -       -
Maio      1.3e-05 0.54094   0.00010 0.67008 -       -       -       -
Junho     9.7e-10 0.00390   1.1e-09 6.2e-07 5.3e-05 -       -       -
Julho     1.4e-06 0.10463   4.6e-06 0.01070 0.02240 0.14885 -       -
Agosto    0.00167 0.03724   0.00569 0.15499 0.02517 2.3e-06 0.00138 -
Setembro  0.01202 0.00793   0.02614 0.14884 0.03952 6.6e-06 0.00190 0.79479
Outubro   0.69109 0.00036   0.38307 0.00478 8.7e-05 2.2e-06 1.8e-05 0.00301
Novembro  0.00620 0.01613   0.03437 0.14889 0.05301 2.4e-05 0.00105 0.96985
Dezembro  0.03107 6.6e-07   0.01396 1.5e-06 3.0e-07 3.2e-09 4.3e-08 0.00018
          Setembro Outubro Novembro
Fevereiro -        -       -
Março     -        -       -
Abril     -        -       -
Maio      -        -       -
Junho     -        -       -
Julho     -        -       -
Agosto    -        -       -
Setembro  -        -       -
Outubro   0.00277  -       -
Novembro  0.83194  0.00231 -
Dezembro  5.5e-05  0.17256 2.4e-06

P value adjustment method: none

In [0]:
write.csv(df_obitos_mean_test$p.value,'df_obitos_mean_test.csv')

## Proporções

In [79]:
d <- melt(df_obitos_normalizado)

# p.adjust "holm", "hochberg", "hommel", "bonferroni", "BH", "BY", "fdr", "none"
df_obitos_normalizado_mean_test = pairwise.t.test(d$value, d$variable, p.adjust = "none", paired=T) 
df_obitos_normalizado_mean_test

No id variables; using all as measure variables

	Pairwise comparisons using paired t tests

data:  d$value and d$variable

          Janeiro Fevereiro Março   Abril   Maio    Junho   Julho   Agosto
Fevereiro 3.6e-05 -         -       -       -       -       -       -
Março     0.29303 5.1e-05   -       -       -       -       -       -
Abril     2.1e-05 0.19453   9.3e-05 -       -       -       -       -
Maio      1.0e-05 0.55284   1.0e-04 0.61489 -       -       -       -
Junho     4.2e-10 0.00387   8.0e-10 3.8e-07 5.7e-05 -       -       -
Julho     7.2e-07 0.10397   2.8e-06 0.01008 0.02357 0.15260 -       -
Agosto    0.00140 0.03429   0.00592 0.15016 0.02057 1.8e-06 0.00106 -
Setembro  0.00895 0.00714   0.01959 0.14581 0.03786 3.1e-06 0.00157 0.86319
Outubro   0.72070 0.00027   0.40848 0.00405 7.2e-05 1.5e-06 1.1e-05 0.00273
Novembro  0.00483 0.01547   0.02798 0.15580 0.05016 2.0e-05 0.00098 0.98283
Dezembro  0.03355 2.7e-07   0.01434 6.8e-07 1.7e-07 1.0e-09 1.4e-08 0.00015
          Setembro Outubro Novembro
Fevereiro -        -       -
Março     -        -       -
Abril     -        -       -
Maio      -        -       -
Junho     -        -       -
Julho     -        -       -
Agosto    -        -       -
Setembro  -        -       -
Outubro   0.00331  -       -
Novembro  0.84255  0.00212 -
Dezembro  4.4e-05  0.17406 1.6e-06

P value adjustment method: none

In [0]:
write.csv(df_obitos_normalizado_mean_test$p.value,'df_obitos_normalizado_mean_test.csv')

# Resultados

In [85]:
order(colMeans(df_obitos))

 [1]  6  7  2  5  4  8 11  9  3  1 10 12

In [86]:
order(colMeans(df_obitos_normalizado))

 [1]  6  7  2  5  4 11  8  9  3  1 10 12

# Teste de Proporção (TO DO)

In [0]:
#df_obitos['Outubro']

In [0]:
#df_populacao

In [0]:
df_obitos_outubro_prop_test = pairwise.prop.test(
  x=df_obitos$Outubro, 
  n=df_populacao$`População`,
  alternative='two.sided')
df_obitos_outubro_prop_test

	Pairwise comparisons using Pairwise comparison of proportions

data:  df_obitos$Outubro out of df_populacao$População

   1       2       3       4       5       6       7       8       9
2  1.00000 -       -       -       -       -       -       -       -
3  1.00000 1.00000 -       -       -       -       -       -       -
4  1.00000 1.00000 1.00000 -       -       -       -       -       -
5  1.00000 1.00000 1.00000 1.00000 -       -       -       -       -
6  0.36794 0.00518 1.00000 0.79113 0.07108 -       -       -       -
7  1.00000 1.00000 1.00000 1.00000 1.00000 1.00000 -       -       -
8  1.00000 0.89337 1.00000 1.00000 1.00000 1.00000 1.00000 -       -
9  1.00000 0.36794 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000 -
10 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000
11 0.31483 0.00393 1.00000 0.68942 0.05811 1.00000 1.00000 1.00000 1.00000
12 1.00000 0.19384 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000
13 0.07228 0.00049 0.94329 0.17206 0.00969 1.00000 1.00000 1.00000 1.00000
14 0.04439 0.00025 0.65994 0.11121 0.00531 1.00000 1.00000 1.00000 1.00000
15 0.12409 0.00102 1.00000 0.29171 0.01829 1.00000 1.00000 1.00000 1.00000
16 6.2e-05 5.4e-08 0.00319 0.00021 2.8e-06 1.00000 0.01057 0.02145 0.06863
17 1.8e-07 4.6e-11 2.1e-05 7.1e-07 4.3e-09 0.15099 8.8e-05 0.00021 0.00091
18 < 2e-16 < 2e-16 9.8e-15 < 2e-16 < 2e-16 3.0e-08 5.9e-14 2.2e-13 2.3e-12
   10      11      12      13      14      15      16      17
2  -       -       -       -       -       -       -       -
3  -       -       -       -       -       -       -       -
4  -       -       -       -       -       -       -       -
5  -       -       -       -       -       -       -       -
6  -       -       -       -       -       -       -       -
7  -       -       -       -       -       -       -       -
8  -       -       -       -       -       -       -       -
9  -       -       -       -       -       -       -       -
10 -       -       -       -       -       -       -       -
11 1.00000 -       -       -       -       -       -       -
12 1.00000 1.00000 -       -       -       -       -       -
13 1.00000 1.00000 1.00000 -       -       -       -       -
14 1.00000 1.00000 1.00000 1.00000 -       -       -       -
15 1.00000 1.00000 1.00000 1.00000 1.00000 -       -       -
16 0.01545 1.00000 0.11964 1.00000 1.00000 1.00000 -       -
17 0.00013 0.13686 0.00184 0.54632 0.79113 0.30689 1.00000 -
18 8.7e-14 1.7e-08 5.9e-12 2.6e-07 5.5e-07 6.9e-08 0.00171 0.11328

P value adjustment method: holm

Existem evidências estatísticas que os ultimos anos (~ 2013 - 2017) as proporções para o mês de outubro não são as mesmas que os anos anteriores para um nível de significancia de 0.05. 

Não existem evidências que 2017 seja diferente de 2016 mas podemos assumir a hipótese alternativa quando comparamos 2017 com os anos de 2000-2015, **ou seja a proporção de suicídio no mês de outubro é maior em 2017 e 2016 que nos anos anteriores.**

In [0]:
write.csv(df_obitos_outubro_prop_test$p.value,'df_obitos_outubro_prop_test.csv')

In [0]:
pairwise.prop.test(
  x=df_obitos$Junho, 
  n=df_populacao$`População`,
  alternative='two.sided')
df_obitos_outubro_prop_test

	Pairwise comparisons using Pairwise comparison of proportions

data:  df_obitos$Junho out of df_populacao$População

   1       2       3       4       5       6       7       8       9
2  0.11659 -       -       -       -       -       -       -       -
3  1.00000 1.00000 -       -       -       -       -       -       -
4  1.00000 1.00000 1.00000 -       -       -       -       -       -
5  1.00000 1.00000 1.00000 1.00000 -       -       -       -       -
6  1.00000 1.00000 1.00000 1.00000 1.00000 -       -       -       -
7  1.00000 1.00000 1.00000 1.00000 1.00000 1.00000 -       -       -
8  0.01108 1.00000 0.21910 1.00000 1.00000 1.00000 1.00000 -       -
9  0.02122 1.00000 0.37288 1.00000 1.00000 1.00000 1.00000 1.00000 -
10 0.04222 1.00000 0.63790 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000
11 0.21514 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000
12 0.00279 1.00000 0.07451 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000
13 0.00158 1.00000 0.04686 1.00000 1.00000 1.00000 0.95472 1.00000 1.00000
14 2.7e-06 1.00000 0.00022 0.03175 0.09573 0.09546 0.01462 1.00000 1.00000
15 0.00013 1.00000 0.00601 0.37288 0.91447 0.91447 0.20592 1.00000 1.00000
16 5.9e-08 0.40627 7.8e-06 0.00240 0.00871 0.00857 0.00095 1.00000 1.00000
17 2.7e-08 0.28303 3.9e-06 0.00139 0.00531 0.00520 0.00053 1.00000 0.80408
18 2.2e-11 0.00695 6.6e-09 7.2e-06 3.7e-05 3.5e-05 2.1e-06 0.05134 0.02524
   10      11      12      13      14      15      16      17
2  -       -       -       -       -       -       -       -
3  -       -       -       -       -       -       -       -
4  -       -       -       -       -       -       -       -
5  -       -       -       -       -       -       -       -
6  -       -       -       -       -       -       -       -
7  -       -       -       -       -       -       -       -
8  -       -       -       -       -       -       -       -
9  -       -       -       -       -       -       -       -
10 -       -       -       -       -       -       -       -
11 1.00000 -       -       -       -       -       -       -
12 1.00000 1.00000 -       -       -       -       -       -
13 1.00000 1.00000 1.00000 -       -       -       -       -
14 1.00000 0.91447 1.00000 1.00000 -       -       -       -
15 1.00000 1.00000 1.00000 1.00000 1.00000 -       -       -
16 0.63790 0.12838 1.00000 1.00000 1.00000 1.00000 -       -
17 0.43878 0.08493 1.00000 1.00000 1.00000 1.00000 1.00000 -
18 0.01108 0.00120 0.13139 0.19626 1.00000 0.91447 1.00000 1.00000

P value adjustment method: holm

	Pairwise comparisons using Pairwise comparison of proportions

data:  df_obitos$Outubro out of df_populacao$População

   1       2       3       4       5       6       7       8       9
2  1.00000 -       -       -       -       -       -       -       -
3  1.00000 1.00000 -       -       -       -       -       -       -
4  1.00000 1.00000 1.00000 -       -       -       -       -       -
5  1.00000 1.00000 1.00000 1.00000 -       -       -       -       -
6  0.36794 0.00518 1.00000 0.79113 0.07108 -       -       -       -
7  1.00000 1.00000 1.00000 1.00000 1.00000 1.00000 -       -       -
8  1.00000 0.89337 1.00000 1.00000 1.00000 1.00000 1.00000 -       -
9  1.00000 0.36794 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000 -
10 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000
11 0.31483 0.00393 1.00000 0.68942 0.05811 1.00000 1.00000 1.00000 1.00000
12 1.00000 0.19384 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000
13 0.07228 0.00049 0.94329 0.17206 0.00969 1.00000 1.00000 1.00000 1.00000
14 0.04439 0.00025 0.65994 0.11121 0.00531 1.00000 1.00000 1.00000 1.00000
15 0.12409 0.00102 1.00000 0.29171 0.01829 1.00000 1.00000 1.00000 1.00000
16 6.2e-05 5.4e-08 0.00319 0.00021 2.8e-06 1.00000 0.01057 0.02145 0.06863
17 1.8e-07 4.6e-11 2.1e-05 7.1e-07 4.3e-09 0.15099 8.8e-05 0.00021 0.00091
18 < 2e-16 < 2e-16 9.8e-15 < 2e-16 < 2e-16 3.0e-08 5.9e-14 2.2e-13 2.3e-12
   10      11      12      13      14      15      16      17
2  -       -       -       -       -       -       -       -
3  -       -       -       -       -       -       -       -
4  -       -       -       -       -       -       -       -
5  -       -       -       -       -       -       -       -
6  -       -       -       -       -       -       -       -
7  -       -       -       -       -       -       -       -
8  -       -       -       -       -       -       -       -
9  -       -       -       -       -       -       -       -
10 -       -       -       -       -       -       -       -
11 1.00000 -       -       -       -       -       -       -
12 1.00000 1.00000 -       -       -       -       -       -
13 1.00000 1.00000 1.00000 -       -       -       -       -
14 1.00000 1.00000 1.00000 1.00000 -       -       -       -
15 1.00000 1.00000 1.00000 1.00000 1.00000 -       -       -
16 0.01545 1.00000 0.11964 1.00000 1.00000 1.00000 -       -
17 0.00013 0.13686 0.00184 0.54632 0.79113 0.30689 1.00000 -
18 8.7e-14 1.7e-08 5.9e-12 2.6e-07 5.5e-07 6.9e-08 0.00171 0.11328

P value adjustment method: holm

In [0]:
pairwise.prop.test(
  x=df_obitos$Julho, 
  n=df_populacao$`População`,
  alternative='two.sided')
df_obitos_outubro_prop_test

	Pairwise comparisons using Pairwise comparison of proportions

data:  df_obitos$Julho out of df_populacao$População

   1       2       3       4       5       6       7       8       9
2  0.97001 -       -       -       -       -       -       -       -
3  1.00000 1.00000 -       -       -       -       -       -       -
4  1.00000 1.00000 1.00000 -       -       -       -       -       -
5  1.00000 1.00000 1.00000 1.00000 -       -       -       -       -
6  0.06573 1.00000 1.00000 1.00000 0.43061 -       -       -       -
7  0.00017 1.00000 0.27092 0.05228 0.00229 1.00000 -       -       -
8  0.17514 1.00000 1.00000 1.00000 0.96041 1.00000 1.00000 -       -
9  0.00038 1.00000 0.45807 0.09432 0.00481 1.00000 1.00000 1.00000 -
10 0.00425 1.00000 1.00000 0.51734 0.04116 1.00000 1.00000 1.00000 1.00000
11 0.00719 1.00000 1.00000 0.74030 0.06509 1.00000 1.00000 1.00000 1.00000
12 1.6e-05 0.65214 0.06416 0.00928 0.00027 1.00000 1.00000 1.00000 1.00000
13 3.8e-07 0.08608 0.00500 0.00052 8.8e-06 1.00000 1.00000 0.43061 1.00000
14 0.00023 1.00000 0.35512 0.06795 0.00313 1.00000 1.00000 1.00000 1.00000
15 0.04116 1.00000 1.00000 1.00000 0.28944 1.00000 1.00000 1.00000 1.00000
16 1.4e-06 0.18487 0.01270 0.00151 3.0e-05 1.00000 1.00000 0.82954 1.00000
17 7.3e-11 0.00047 9.6e-06 4.9e-07 2.8e-09 0.01619 1.00000 0.00401 0.91742
18 2.7e-11 0.00025 4.5e-06 2.1e-07 1.1e-09 0.00941 1.00000 0.00221 0.64417
   10      11      12      13      14      15      16      17
2  -       -       -       -       -       -       -       -
3  -       -       -       -       -       -       -       -
4  -       -       -       -       -       -       -       -
5  -       -       -       -       -       -       -       -
6  -       -       -       -       -       -       -       -
7  -       -       -       -       -       -       -       -
8  -       -       -       -       -       -       -       -
9  -       -       -       -       -       -       -       -
10 -       -       -       -       -       -       -       -
11 1.00000 -       -       -       -       -       -       -
12 1.00000 1.00000 -       -       -       -       -       -
13 1.00000 1.00000 1.00000 -       -       -       -       -
14 1.00000 1.00000 1.00000 1.00000 -       -       -       -
15 1.00000 1.00000 1.00000 1.00000 1.00000 -       -       -
16 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000 -       -
17 0.17186 0.10281 1.00000 1.00000 0.96965 0.01460 1.00000 -
18 0.10678 0.06509 1.00000 1.00000 0.67995 0.00838 1.00000 1.00000

P value adjustment method: holm

	Pairwise comparisons using Pairwise comparison of proportions

data:  df_obitos$Outubro out of df_populacao$População

   1       2       3       4       5       6       7       8       9
2  1.00000 -       -       -       -       -       -       -       -
3  1.00000 1.00000 -       -       -       -       -       -       -
4  1.00000 1.00000 1.00000 -       -       -       -       -       -
5  1.00000 1.00000 1.00000 1.00000 -       -       -       -       -
6  0.36794 0.00518 1.00000 0.79113 0.07108 -       -       -       -
7  1.00000 1.00000 1.00000 1.00000 1.00000 1.00000 -       -       -
8  1.00000 0.89337 1.00000 1.00000 1.00000 1.00000 1.00000 -       -
9  1.00000 0.36794 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000 -
10 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000
11 0.31483 0.00393 1.00000 0.68942 0.05811 1.00000 1.00000 1.00000 1.00000
12 1.00000 0.19384 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000 1.00000
13 0.07228 0.00049 0.94329 0.17206 0.00969 1.00000 1.00000 1.00000 1.00000
14 0.04439 0.00025 0.65994 0.11121 0.00531 1.00000 1.00000 1.00000 1.00000
15 0.12409 0.00102 1.00000 0.29171 0.01829 1.00000 1.00000 1.00000 1.00000
16 6.2e-05 5.4e-08 0.00319 0.00021 2.8e-06 1.00000 0.01057 0.02145 0.06863
17 1.8e-07 4.6e-11 2.1e-05 7.1e-07 4.3e-09 0.15099 8.8e-05 0.00021 0.00091
18 < 2e-16 < 2e-16 9.8e-15 < 2e-16 < 2e-16 3.0e-08 5.9e-14 2.2e-13 2.3e-12
   10      11      12      13      14      15      16      17
2  -       -       -       -       -       -       -       -
3  -       -       -       -       -       -       -       -
4  -       -       -       -       -       -       -       -
5  -       -       -       -       -       -       -       -
6  -       -       -       -       -       -       -       -
7  -       -       -       -       -       -       -       -
8  -       -       -       -       -       -       -       -
9  -       -       -       -       -       -       -       -
10 -       -       -       -       -       -       -       -
11 1.00000 -       -       -       -       -       -       -
12 1.00000 1.00000 -       -       -       -       -       -
13 1.00000 1.00000 1.00000 -       -       -       -       -
14 1.00000 1.00000 1.00000 1.00000 -       -       -       -
15 1.00000 1.00000 1.00000 1.00000 1.00000 -       -       -
16 0.01545 1.00000 0.11964 1.00000 1.00000 1.00000 -       -
17 0.00013 0.13686 0.00184 0.54632 0.79113 0.30689 1.00000 -
18 8.7e-14 1.7e-08 5.9e-12 2.6e-07 5.5e-07 6.9e-08 0.00171 0.11328

P value adjustment method: holm