<a href="https://colab.research.google.com/github/jamissonfreitas/IN1119/blob/master/analise_mes_ano_testes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
library('ggplot2')
library('dplyr')
set.seed(1234)

# Dados

In [5]:
# Open file
df_obitos <- read.csv('df_obitos.csv', row.names = 1, sep = ';')
df_obitos

     Janeiro Fevereiro Março Abril Maio Junho Julho Agosto Setembro Outubro
2000  610    554        585  548    522 520   525    555    532      651
2001  684    620        691  659    611 641   620    658    657      618
2002  650    639        676  620    622 563   603    652    634      701
2003  683    613        699  668    623 610   594    648    689      689
2004  714    646        698  691    658 629   575    665    672      669
2005  751    661        705  680    715 637   685    783    701      810
2006  791    685        803  684    680 627   748    712    688      750
2007  786    674        791  722    761 713   689    773    727      766
2008  817    823        824  767    715 714   757    760    787      787
2009  825    738        812  775    788 714   743    748    752      780
2010  845    726        801  754    809 702   745    789    768      856
2011  817    757        845  842    827 755   805    835    819      819
2012  877    912        839  851    801 767   840    821    888      892
2013  918    876        934  853    891 826   797    855    902      906
2014  928    879        956  897    825 802   753    937    917      900
2015 1047    852        947  935    899 867   851    915    902      990
2016  941    926        929  919    927 879   925    910    962     1047
2017 1059    967       1055  923   1029 932   938   1071   1135     1212
     Novembro Dezembro
2000  555      621
2001  610      669
2002  660      706
2003  673      672
2004  684      716
2005  704      718
2006  703      768
2007  693      773
2008  749      828
2009  839      860
2010  794      859
2011  800      931
2012  878      955
2013  838      937
2014  915      944
2015  921     1052
2016 1016     1052
2017 1063     1111

In [6]:
df_obitos_normalizado <- read.csv('df_obitos_normalizado.csv', row.names = 1, sep = ';')
df_obitos_normalizado

     Janeiro   Fevereiro Março     Abril     Maio      Junho     Julho
2000 0.3516897 0.3194034 0.3372762 0.3159442 0.3009542 0.2998011 0.3026838
2001 0.3888900 0.3525026 0.3928698 0.3746761 0.3473856 0.3644422 0.3525026
2002 0.3646029 0.3584327 0.3791871 0.3477751 0.3488970 0.3158022 0.3382393
2003 0.3781438 0.3393882 0.3870022 0.3698391 0.3449247 0.3377273 0.3288689
2004 0.3903527 0.3531763 0.3816053 0.3777784 0.3597368 0.3438822 0.3143597
2005 0.4056153 0.3570063 0.3807707 0.3672682 0.3861717 0.3440439 0.3699687
2006 0.4222379 0.3656548 0.4286436 0.3651210 0.3629858 0.3346943 0.3992844
2007 0.4148573 0.3557427 0.4174963 0.3810775 0.4016621 0.3763273 0.3636599
2008 0.4265596 0.4296922 0.4302143 0.4004544 0.3733049 0.3727828 0.3952333
2009 0.4262597 0.3813087 0.4195429 0.4004258 0.4071426 0.3689084 0.3838921
2010 0.4322299 0.3713597 0.4097233 0.3856821 0.4138154 0.3590833 0.3810785
2011 0.4138867 0.3834911 0.4280713 0.4265515 0.4189526 0.3824779 0.4078076
2012 0.4401672 0.4577338 0.4210950 0.4271178 0.4020227 0.3849581 0.4215969
2013 0.4566421 0.4357500 0.4646010 0.4243091 0.4432114 0.4108784 0.3964529
2014 0.4576646 0.4334992 0.4714735 0.4423763 0.4068678 0.3955248 0.3713593
2015 0.5121040 0.4167265 0.4631925 0.4573231 0.4397149 0.4240632 0.4162374
2016 0.4566156 0.4493369 0.4507927 0.4459402 0.4498222 0.4265304 0.4488517
2017 0.5099659 0.4656629 0.5080397 0.4444746 0.4955193 0.4488085 0.4516979
     Agosto    Setembro  Outubro   Novembro  Dezembro
2000 0.3199800 0.3067196 0.3753279 0.3199800 0.3580317
2001 0.3741076 0.3735390 0.3513655 0.3468171 0.3803617
2002 0.3657248 0.3556281 0.3932102 0.3702122 0.3960149
2003 0.3587660 0.3814657 0.3814657 0.3726073 0.3720537
2004 0.3635638 0.3673908 0.3657507 0.3739514 0.3914462
2005 0.4228985 0.3786103 0.4374812 0.3802306 0.3877920
2006 0.3800675 0.3672563 0.4003520 0.3752633 0.4099605
2007 0.4079958 0.3837166 0.4043011 0.3657711 0.4079958
2008 0.3967996 0.4108965 0.4108965 0.3910565 0.4323027
2009 0.3864755 0.3885422 0.4030092 0.4334932 0.4443435
2010 0.4035851 0.3928433 0.4378566 0.4061427 0.4393911
2011 0.4230054 0.4148999 0.4148999 0.4052746 0.4716383
2012 0.4120608 0.4456881 0.4476957 0.4406691 0.4793155
2013 0.4253039 0.4486832 0.4506729 0.4168476 0.4660933
2014 0.4621032 0.4522397 0.4438558 0.4512534 0.4655554
2015 0.4475408 0.4411823 0.4842244 0.4504755 0.5145496
2016 0.4415730 0.4668058 0.5080516 0.4930090 0.5104778
2017 0.5157446 0.5465641 0.5836437 0.5118922 0.5350068

# Teste de normalidade dos dados (Shapiro-Wilk)

In [7]:
lshap <- lapply(df_obitos, shapiro.test)
lres <- sapply(lshap, '[', c("statistic","p.value"))
t(lres)

#shapiro.test(df_obitos$Outubro)

          statistic p.value
Janeiro   0.9694345 0.7869881
Fevereiro 0.9405158 0.2957265
Março     0.9659727 0.7194684
Abril     0.9493559 0.4150026
Maio      0.9843657 0.9837375
Junho     0.9740162 0.8688711
Julho     0.9674647 0.7488934
Agosto    0.977213  0.9167986
Setembro  0.9598514 0.5987638
Outubro   0.9380614 0.2683993
Novembro  0.9667963 0.7357517
Dezembro  0.9503571 0.4306458

**Não existem evidências estatísticas  que rejeitem H0 que as amostras de dados dos meses do ano são oriundos de populações com distribuições normais (p = 0.05)**

In [8]:
lshap <- lapply(df_obitos_normalizado, shapiro.test)
lres <- sapply(lshap, '[', c("statistic","p.value"))
t(lres)

          statistic p.value
Janeiro   0.9592751 0.5876949
Fevereiro 0.9162369 0.1108836
Março     0.9777687 0.9241093
Abril     0.9549908 0.5085391
Maio      0.981924  0.967658
Junho     0.985331  0.9882579
Julho     0.9781284 0.9286654
Agosto    0.9761451 0.901852
Setembro  0.9388938 0.2774017
Outubro   0.9063025 0.07406334
Novembro  0.9598918 0.5995421
Dezembro  0.9559421 0.5255794

**Não existem evidências estatísticas  que rejeitem H0 que as amostras de dados dos meses do ano são oriundos de populações com distribuições normais (p = 0.05)**

# Teste de variancias

In [9]:
var.test(df_obitos$Janeiro, df_obitos$Junho)

	F test to compare two variances

data:  df_obitos$Janeiro and df_obitos$Junho
F = 1.2563, num df = 17, denom df = 17, p-value = 0.6434
alternative hypothesis: true ratio of variances is not equal to 1
95 percent confidence interval:
 0.4699361 3.3584151
sample estimates:
ratio of variances
           1.25628

In [27]:
library(plyr)

combos <- combn(ncol(df_obitos), 2)

out <- adply(combos, 2, function(x) {
  test <- var.test(df_obitos[, x[1]], df_obitos[, x[2]])

  out <- data.frame("var1" = colnames(df_obitos)[x[1]]
                    , "var2" = colnames(df_obitos)[x[2]]
                    #, "t.value" = sprintf("%.3f", test$statistic)
                    #,  "df"= test$parameter
                    ,  "p.value" = sprintf("%.3f", test$p.value)
                    )
  return(out)

})
var_test_matrix = dcast(out, var1 ~ var2, value.var = "p.value")
var_test_matrix

   var1      Fevereiro Março Abril Maio  Junho Julho Agosto Setembro Outubro
1  Janeiro   0.950     0.843 0.682 0.936 0.643 0.749 0.980  0.606    0.493
2  Fevereiro NA        0.892 0.728 0.887 0.689 0.797 0.970  0.563    0.455
3  Março     NA        NA    0.832 0.781 0.791 0.903 0.862  0.476    0.378
4  Abril     NA        NA    NA    0.625 0.957 0.928 0.700  0.356    0.275
5  Maio      NA        NA    NA    NA    0.588 0.690 0.917  0.663    0.544
6  Junho     NA        NA    NA    NA    NA    0.886 0.661  0.329    0.253
7  Julho     NA        NA    NA    NA    NA    NA    0.768  0.405    0.317
8  Agosto    NA        NA    NA    NA    NA    NA    NA     0.589    0.478
9  Setembro  NA        NA    NA    NA    NA    NA    NA     NA       0.864
10 Outubro   NA        NA    NA    NA    NA    NA    NA     NA       NA
11 Novembro  NA        NA    NA    NA    NA    NA    NA     NA       NA
   Novembro Dezembro
1  0.741    0.559
2  0.695    0.518
3  0.598    0.435
4  0.460    0.322
5  0.802    0.614
6  0.429    0.297
7  0.517    0.367
8  0.723    0.543
9  0.853    0.945
10 0.722    0.919
11 NA       0.799

In [0]:
#reshape(out, direction = "wide", idvar = "var1", timevar = "var2")
write.csv(var_test_matrix,'var_test_matrix.csv')

In [29]:
combos <- combn(ncol(df_obitos_normalizado), 2)

out <- adply(combos, 2, function(x) {
  test <- var.test(df_obitos_normalizado[, x[1]], df_obitos_normalizado[, x[2]])

  out <- data.frame("var1" = colnames(df_obitos_normalizado)[x[1]]
                    , "var2" = colnames(df_obitos_normalizado)[x[2]]
                    #, "t.value" = sprintf("%.3f", test$statistic)
                    #,  "df"= test$parameter
                    ,  "p.value" = sprintf("%.3f", test$p.value)
                    )
  return(out)

})
var_test_normalizado_matrix = dcast(out, var1 ~ var2, value.var = "p.value")
var_test_normalizado_matrix

   var1      Fevereiro Março Abril Maio  Junho Julho Agosto Setembro Outubro
1  Janeiro   0.892     0.812 0.638 0.779 0.690 0.894 0.908  0.404    0.315
2  Fevereiro NA        0.709 0.545 0.885 0.593 0.788 0.984  0.483    0.383
3  Março     NA        NA    0.816 0.605 0.871 0.917 0.724  0.285    0.215
4  Abril     NA        NA    NA    0.454 0.944 0.736 0.559  0.194    0.143
5  Maio      NA        NA    NA    NA    0.497 0.679 0.869  0.578    0.466
6  Junho     NA        NA    NA    NA    NA    0.790 0.607  0.219    0.162
7  Julho     NA        NA    NA    NA    NA    NA    0.804  0.334    0.256
8  Agosto    NA        NA    NA    NA    NA    NA    NA     0.471    0.372
9  Setembro  NA        NA    NA    NA    NA    NA    NA     NA       0.863
10 Outubro   NA        NA    NA    NA    NA    NA    NA     NA       NA
11 Novembro  NA        NA    NA    NA    NA    NA    NA     NA       NA
   Novembro Dezembro
1  0.581    0.450
2  0.676    0.535
3  0.430    0.322
4  0.308    0.223
5  0.785    0.634
6  0.343    0.250
7  0.494    0.375
8  0.662    0.522
9  0.776    0.935
10 0.647    0.800
11 NA       0.839

In [0]:
write.csv(var_test_normalizado_matrix,'var_test_normalizado_matrix.csv')

# Diferença das médias

In [31]:
library(reshape2)

d <- melt(df_obitos)

# p.adjust "holm", "hochberg", "hommel", "bonferroni", "BH", "BY", "fdr", "none"
pairwise.t.test(d$value, d$variable, p.adjust = "none")

No id variables; using all as measure variables

	Pairwise comparisons using t tests with pooled SD

data:  d$value and d$variable

          Janeiro Fevereiro Março  Abril  Maio   Junho  Julho  Agosto Setembro
Fevereiro 0.1288  -         -      -      -      -      -      -      -
Março     0.8454  0.1851    -      -      -      -      -      -      -
Abril     0.2244  0.7597    0.3073 -      -      -      -      -      -
Maio      0.1859  0.8434    0.2590 0.9137 -      -      -      -      -
Junho     0.0195  0.4078    0.0320 0.2574 0.3055 -      -      -      -
Julho     0.0493  0.6510    0.0761 0.4486 0.5159 0.7070 -      -      -
Agosto    0.4035  0.4923    0.5217 0.7032 0.6246 0.1307 0.2553 -      -
Setembro  0.4365  0.4570    0.5596 0.6611 0.5847 0.1169 0.2322 0.9543 -
Outubro   0.8986  0.1000    0.7471 0.1797 0.1473 0.0139 0.0365 0.3358 0.3653
Novembro  0.4092  0.4859    0.5283 0.6956 0.6174 0.1282 0.2511 0.9919 0.9624
Dezembro  0.5847  0.0395    0.4585 0.0789 0.0623 0.0041 0.0123 0.1677 0.1859
          Outubro Novembro
Fevereiro -       -
Março     -       -
Abril     -       -
Maio      -       -
Junho     -       -
Julho     -       -
Agosto    -       -
Setembro  -       -
Outubro   -       -
Novembro  0.3409  -
Dezembro  0.6750  0.1708

P value adjustment method: none

In [32]:
d <- melt(df_obitos_normalizado)

# p.adjust "holm", "hochberg", "hommel", "bonferroni", "BH", "BY", "fdr", "none"
pairwise.t.test(d$value, d$variable, p.adjust = "none")

No id variables; using all as measure variables

	Pairwise comparisons using t tests with pooled SD

data:  d$value and d$variable

          Janeiro Fevereiro Março   Abril   Maio    Junho   Julho   Agosto
Fevereiro 0.02706 -         -       -       -       -       -       -
Março     0.78361 0.05234   -       -       -       -       -       -
Abril     0.07856 0.64692   0.13699 -       -       -       -       -
Maio      0.05249 0.78269   0.09536 0.85534 -       -       -       -
Junho     0.00074 0.23210   0.00188 0.09900 0.14183 -       -       -
Julho     0.00443 0.51564   0.00992 0.26833 0.35481 0.58476 -       -
Agosto    0.22380 0.31538   0.34566 0.58446 0.46605 0.02857 0.09892 -
Setembro  0.24529 0.28974   0.37439 0.54735 0.43320 0.02488 0.08829 0.95620
Outubro   0.87069 0.01777   0.66187 0.05488 0.03577 0.00042 0.00267 0.16812
Novembro  0.22064 0.31943   0.34140 0.59023 0.47118 0.02917 0.10063 0.99330
Dezembro  0.44529 0.00312   0.29969 0.01207 0.00719 4.2e-05 0.00034 0.04849
          Setembro Outubro Novembro
Fevereiro -        -       -
Março     -        -       -
Abril     -        -       -
Maio      -        -       -
Junho     -        -       -
Julho     -        -       -
Agosto    -        -       -
Setembro  -        -       -
Outubro   0.18559  -       -
Novembro  0.94952  0.16556 -
Dezembro  0.05499  0.54799 0.04755

P value adjustment method: none